.trending-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem;
}

.inner-carousel {
    display: flex;
    gap: 3rem;
}

.product-container.trending {
    min-width: 20rem;
}

.product-container.trending > img {
    pointer-events: none;
}

.carousel {
    width: 100%;
    cursor: grab;
    overflow: hidden;
    margin: 50px 25%;
}


.product-container.trending {
    width: 370px;
    height: 450px;
}

@media screen and (max-width: 820px) {
    #trendingId {
        width: 150px;
        height: 200px;
    }
}
