html {
  font-size: 16px;
}


body {
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

@media screen and (max-width: 820px) {
  html {
    font-size: 10px;
  }
}

button {
  cursor: pointer;
}